@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --primary-color: #007efd;
    --secondary-color: #56ccf2;
    --tertiary-color: #ee1717;
}

